body
{
text-align: center;
background-image: url(fdewfsdfsdfsdgdfferikyui\ onepiece.jpg);
background-size: contain;
}

img
{ 
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
